* text=auto
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.pptx binary
*.docx binary
*.xlsx binary
*.woff2 binary
*.bin binary
*.ttc binary
*.ttf binary
*.otf binary

# Preserve exact bytes for hash-pinned component sources and license records.
components/** -text
